* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #10367D;
}
.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
 h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s ease;
}
input:focus {
    border: 1px solid #10367D;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #10367D;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #A5CE00;
}
a.btn {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    margin-top: 10px;
}
/* Responsive design */

/* Appareils supérieurs à 728px */
@media (min-width: 729px) {
    body {
        margin: 20px;
    }
    .container {
        max-width: 400px;
        margin: 40px auto;
        padding: 40px;
    }
    h1 {
        font-size: 28px;
    }
}

/* Appareils en dessous de 728px */
@media (max-width: 728px) {
    body {
        margin: 20px;
    }
    .container {
        max-width: 95vw;
        padding: 24px;
    }
    h1 {
        font-size: 22px;
    }
    .btn {
        font-size: 15px;
        padding: 10px;
    }
}

/* Appareils en dessous de 425px */
@media (max-width: 425px) {
    body {
        margin: 20px;
    }
    .container {
        padding: 20px;
        border-radius: 10px;
    }
    h1 {
        font-size: 18px;
    }
    input {
        padding: 10px;
        font-size: 0.95em;
    }
    .btn {
        font-size: 14px;
        padding: 1px;
    }
}

/* Appareils en dessous de 390px */
@media (max-width: 390px) {
    body {
        margin: 20px;
    }
    .container {
        padding: 20px;
        border-radius: 6px;
    }
    h1 {
        font-size: 16px;
    }
    input {
        padding: 10px;
        font-size: 0.9em;
    }
    .btn {
        font-size: 13px;
        padding: 10px;
    }
}