* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #10367D;
    color: #EBEBEB;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
body a {
    text-decoration: none;
    color: inherit;
}
body a:hover {
    color: #10367D;
    transition: background 0.3s ease;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: #10367D;
    color: #fff;
}

.site-header .logo {
    font-weight: bold;
    font-size: 1.5em;
}
.site-header .btn {
    background: #fff;
    color: #10367D;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Search & filters*/

.search-wrap {
    padding: 12px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
#contact-search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.filters {
    display: flex;
    gap: 10px;
}
.filters button {
    flex: 1;
    padding: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #eee;
    font-weight: 600;
    margin-top: 20px;
}
.filters button.active {
    background: #10367D;
    color: #EBEBEB;
    margin-top: 20px;
}
.filters button:hover {
    background: #106;
    color: #EBEBEB;
    transition: background 0.3s ease;
}

/*Conatcts list*/
.contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s ease;
}
 .contact-item:hover {
    background: #106;
    cursor: pointer;
    color: #EBEBEB;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.info {
    flex: 1;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 600;
}
.name {
    font-size: 1.1em;
}
.time {
    font-size: 0.9em;
    color: #EBEBEB;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.last-msg {
    font-size: 0.9rem;
    color: #EBEBEB;
}
.unread-badge {
    background: #EBEBEB;
    color: #10367D;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 0.8em;
    font-weight: bold;
    min-width: 24px;
    text-align: center;
}
